@import url('https://fonts.googleapis.com/css2?family=Arima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
*{
    margin: 0;
    padding: 0;
}

.app{
    margin: 0 auto;
    max-width: 1280px;
    font-family: Arial;
    font-weight: bold;
}

h2{
    font-family: 'Patua One', cursive;
}

.app__headerBlock{
    background-color: #020202;
    height: 40px;
}

.app ul{
    list-style-type: none;
}

.app__navBlock{
    margin-bottom: 80px;
    font-family: 'Arima', cursive;
}

.app__navBlock>ul{
    display: flex;
    justify-content: space-around;
}

.app__navBlock:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 0.7s;
}

.app__navBlock li:nth-child(2){
    padding: 0 10px;
}

.app__navBlock li:nth-child(2),
.app__navBlock li:nth-child(3){
    position: relative;
}

.app__navBlock>ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.app__navBlock>ul li:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 0.7s;
}

.app__navBlock li:nth-child(2) ul {
    position: absolute;
    top: 65px;
}

.app__navBlock li:nth-child(2) ul{
    display: none;
    color: white;
}

.app__navBlock li:nth-child(2):hover ul{
    display: flex;
    color: black;
}

.app__navBlock a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
}

.app__navBlock img{
    width: 30px;
}

.app__navBlock_sum{
    border-radius: 50%;
    background-color: blueviolet;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 14px;
    top: 8px;
    color: white;
    text-align: center;
    font-size: 10px;
    line-height: 17px;
    z-index: -1;
}

.app__mainBlock ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.app__mainBlock li{
    text-align: justify;
    margin: 30px;
    width: calc(25% - 120px);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.app__mainBlock .page li{
    width: calc(40% - 80px);
    margin: 20px;
}

.app__mainBlock li:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 1s;
}

.app__mainBlock a{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
}

.main__title{
    margin-bottom: 30px;
    font-family: 'Philosopher', sans-serif;
}

.main__category{
    text-align: center;
}

.main__image{
    width: 180px;
    display: block;
    margin: 0 auto 10px auto;
}

.main__description{
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Kalam', cursive;
    font-size: 20px;
}

.main__price{
    text-align: right;
    font-size: 35px;
}


.main__product_productElemCart{
    display: block;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 auto;
}

.main__product_productElemCart img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.productPage{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.productPage button{
    position: absolute;
    top: 30px;
    right: 0;
    border: 3px solid white;
}

.productPage button:active{
    top: 32px;
}

.productPage .main__image{
    margin-bottom: 60px;
}

.productPage .main__price{
    margin-bottom: 150px;
}

table th,
table td{
    border: 1px solid black;
}

table{
    margin: 60px auto 200px auto;
    border: 3px solid black;
    border-radius: 5px;
}

table td,
table th{
    padding: 10px;
}

table .main__image{
    width: 50px;
    height: 50px;
}

table .main__price{
    font-size: 20px;
}

.plus,
.minus{
    border: 0;
    cursor: pointer;
    border-radius: 50%;
}

.plus img,
.minus img{
    width: 30px;
    height: 30px;
}

.thing{
    text-align: center;
    font-size: 20px;
}

tfoot{
    text-align: right;
}

.summPrice{
    font-size: 25px;
}

.emptyCart{
    display: block;
    margin: 0 auto;
}

.app__footerBlock{
    padding: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.app__footerBlock ul{
    display: flex;
    justify-content: flex-end;
}

.app__footerBlock li{
    opacity: 0.7;
}

.app__footerBlock li:hover{
    opacity: 1;
}

.app__footerBlock li:not(:last-child){
    margin-right: 15px;
}

.app__footerBlock li a{
    display: flex;   
}
