*{
    margin: 0;
    padding: 0;
    outline: 1px solid red;
}

.app{
    margin: 0 auto;
    max-width: 1280px;
    font-family: Arial;
    font-weight: bold;
}

.app__headerBlock{
    background-color: #020202;
}

.app ul{
    list-style-type: none;
}

.app__navBlock{
    margin-bottom: 60px;
}

.app__navBlock>ul{
    display: flex;
    justify-content: space-around;
}

.app__navBlock:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 0.7s;
}

.app__navBlock li:nth-child(2),
.app__navBlock li:nth-child(3){
    position: relative;
}

.app__navBlock>ul li{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
}

.app__navBlock>ul li:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 0.7s;
}

.app__navBlock li:nth-child(2) ul {
    position: absolute;
    top: 80px;
}

.app__navBlock li:nth-child(2) ul{
    display: none;
    color: white;
}

.app__navBlock li:nth-child(2):hover ul{
    display: flex;
    color: black;
}

.app__navBlock a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px;
}

.app__navBlock img{
    width: 30px;
}

.app__navBlock_sum{
    border-radius: 50%;
    background-color: blueviolet;
    width: 18px;
    height: 18px;
    position: absolute;
    right: 10px;
    top: 12px;
    color: white;
    text-align: center;
    font-size: 15px;
}







.app__mainBlock ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.app__mainBlock li{
    width: calc(33% - 20px);
    border-radius: 5px;
    padding: 10px;
}

.app__mainBlock li:hover{
    box-shadow: inset -10px -5px 10px rgb(211, 211, 211),
                inset 10px 5px 10px rgb(211, 211, 211);
    transition: 1s;
}

.app__mainBlock img{
    width: 50px;
}
.app__mainBlock{
    display: block;
}